*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', Arial, sans-serif;
}
button, a{
    cursor: pointer;
}
/* Header and Footer */
.header_bg, 
.footer_bg{
    width: 100%;
    background-color: #1f2937;
}
header, 
footer, 
.info, 
.quote, 
.sign_up_banner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 14px;
    padding: 2em 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}
.logo h1{
    color: #f9faf8;
    font-size: 24px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 0.5em;
}
nav ul li a:hover{
    background-color: #e5e7eb;
    color: #1f2937;
    border-radius: 5px;
}
.intro{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    flex-wrap: wrap;
}
.text{
    padding: 0 1.5em;
    width: 500px;
}
.text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.text p{
    font-size: 18px;
    color: #e5e7eb;
    padding: 1em 0;
    font-weight: 300;
}
.text button{
    background-color: #3882f6;
    padding: 0.5em;
    font-size: 16px;
    border: none;
    color: #e5e7eb;
    border-radius: 5px;
}
.img_bg{
    width: 600px;
    height: 200px;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/* Content */
.info{
    padding: 2em 0 3em 0;
}
.info h2{
    text-align: center;
    padding: 1em 0;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card .image{
    width: 100px;
    height: 100px;
    border: 2px dashed #3882f6;
    border-radius: 50%;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain;
}
.img_1{background-image: url(img/ubuntu.png);}
.img_2{background-image: url(img/pop_os.png);}
.img_3{background-image: url(img/fedora.png);}
.img_4{background-image: url(img/arch.png);}
.card .about{
    font-weight: 300;
}
.card .title{
    font-weight: 700;
    font-size: 18px;
}
.quote_bg{
    width: 100%;
    background-color: #e5e7eb;
}
.quote{
    color: #1f2937;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote_text{
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    width: 800px;
}
.quote_author{
    align-self: flex-end;
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
}
.sign_up_banner{
    display: flex;
    justify-content: center;
    padding: 7em 0;
}
.banner{
    display: flex;
    width: 95%;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 2em 5em;
    background-color: #3882f6;
    color: #e5e7eb;
}
.banner div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner button{
    padding: 0.5em 3em;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    background-color: transparent;
    border-radius: 5px;
}
.banner button:hover{
    color: #3882f6;
    background-color: #f9faf8;
}